body {
  margin: 0;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
    box-sizing: border-box;
}

.splash .message {
    font-size: 72px;
    line-height: 72px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 72px;
    margin-top: 50px;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    overflow: hidden;
}

@media print
{
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 0px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

/* animate page transitions */
section.au-enter-active {
  /*-webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;*/
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav-bar {
    display: none;
}

body {
    overflow-y: hidden;
}

switch,
fader,
knob,
scale-finder,
chord-finder {
    position: absolute;
    display: block;
}

.x-0 { left: 0% }
.x-1 { left: 8% }
.x-2 { left: 17% }
.x-3 { left: 25% }
.x-4 { left: 33% }
.x-5 { left: 42% }
.x-6 { left: 50% }
.x-7 { left: 58% }
.x-8 { left: 67% }
.x-9 { left: 75% }
.x-10 { left: 83% }
.x-11 { left: 92% }

.y-0 { top: 0% }
.y-1 { top: 8% }
.y-2 { top: 17% }
.y-3 { top: 25% }
.y-4 { top: 33% }
.y-5 { top: 42% }
.y-6 { top: 50% }
.y-7 { top: 58% }
.y-8 { top: 67% }
.y-9 { top: 75% }
.y-10 { top: 83% }
.y-11 { top: 92% }

.width-1 { width: 8% }
.width-2 { width: 16% }
.width-3 { width: 25% }
.width-4 { width: 33% }
.width-5 { width: 41% }
.width-6 { width: 50% }
.width-7 { width: 58% }
.width-8 { width: 66% }
.width-9 { width: 75% }
.width-10 { width: 83% }
.width-11 { width: 91% }
.width-12 { width: 100% }

.height-1 { height: 8% }
.height-2 { height: 16% }
.height-3 { height: 25% }
.height-4 { height: 33% }
.height-5 { height: 41% }
.height-6 { height: 50% }
.height-7 { height: 58% }
.height-8 { height: 66% }
.height-9 { height: 75% }
.height-10 { height: 83% }
.height-11 { height: 91% }
.height-12 { height: 100% }

/* class for 'visible' custom attribute. Cannot use 'show' as display: none does not initialize the layout - those elements have to know their size at initialization */
.visible {
    visibility: hidden;
}